node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.jks.bak
*.p12
*.key
*.mobileprovision

# osx
.DS_Store

# intellij
.idea
local.properties

# node.js
node_modules/
npm-debug.log

# docs
docs/docs.json
docs/output.json

# config
config/index.js

.expo
.expo-shared/
dist
*.keyinfo
*.keystore
backend/node_modules/.yarn-integrity
backend/node_modules/.bin/semver
backend/node_modules/ansi-regex/index.js
backend/node_modules/ansi-regex/package.json
backend/node_modules/ansi-regex/readme.md
backend/node_modules/cross-spawn/CHANGELOG.md
backend/node_modules/cross-spawn/index.js
backend/node_modules/cross-spawn/LICENSE
backend/node_modules/cross-spawn/package.json
backend/node_modules/cross-spawn/README.md
backend/node_modules/cross-spawn/lib/enoent.js
backend/node_modules/cross-spawn/lib/parse.js
backend/node_modules/cross-spawn/lib/util/escapeArgument.js
backend/node_modules/cross-spawn/lib/util/escapeCommand.js
backend/node_modules/cross-spawn/lib/util/hasEmptyArgumentBug.js
backend/node_modules/cross-spawn/lib/util/readShebang.js
backend/node_modules/cross-spawn/lib/util/resolveCommand.js
backend/node_modules/inherits/inherits_browser.js
backend/node_modules/inherits/inherits.js
backend/node_modules/inherits/package.json
backend/node_modules/minimist/.travis.yml
backend/node_modules/minimist/index.js
backend/node_modules/minimist/package.json
backend/node_modules/minimist/readme.markdown
backend/node_modules/minimist/test/all_bool.js
backend/node_modules/minimist/test/bool.js
backend/node_modules/minimist/test/dash.js
backend/node_modules/minimist/test/default_bool.js
backend/node_modules/minimist/test/dotted.js
backend/node_modules/minimist/test/kv_short.js
backend/node_modules/minimist/test/num.js
backend/node_modules/minimist/test/parse_modified.js
backend/node_modules/minimist/test/parse.js
backend/node_modules/minimist/test/stop_early.js
backend/node_modules/minimist/test/unknown.js
backend/node_modules/mongoose/node_modules/ms/index.js
backend/node_modules/mongoose/node_modules/ms/license.md
backend/node_modules/mongoose/node_modules/ms/package.json
backend/node_modules/mongoose/node_modules/ms/readme.md
backend/node_modules/ms/index.js
backend/node_modules/ms/package.json
backend/node_modules/ms/readme.md
backend/node_modules/nodemon/node_modules/ms/index.js
backend/node_modules/nodemon/node_modules/ms/license.md
backend/node_modules/nodemon/node_modules/ms/package.json
backend/node_modules/nodemon/node_modules/ms/readme.md
backend/node_modules/pify/index.js
backend/node_modules/pify/license
backend/node_modules/pify/package.json
backend/node_modules/pify/readme.md
backend/node_modules/resolve-from/index.js
backend/node_modules/resolve-from/license
backend/node_modules/resolve-from/package.json
backend/node_modules/resolve-from/readme.md
backend/node_modules/send/node_modules/inherits/inherits_browser.js
backend/node_modules/send/node_modules/inherits/inherits.js
backend/node_modules/send/node_modules/inherits/LICENSE
backend/node_modules/send/node_modules/inherits/package.json
backend/node_modules/send/node_modules/inherits/README.md
backend/node_modules/strip-ansi/index.js
backend/node_modules/strip-ansi/package.json
backend/node_modules/strip-ansi/readme.md
backend/node_modules/strip-json-comments/index.js
backend/node_modules/strip-json-comments/license
backend/node_modules/strip-json-comments/package.json
backend/node_modules/strip-json-comments/readme.md
backend/node_modules/.yarn-integrity
backend/node_modules/.bin/semver
backend/node_modules/ansi-regex/index.js
backend/node_modules/ansi-regex/package.json
backend/node_modules/ansi-regex/readme.md
backend/node_modules/cross-spawn/CHANGELOG.md
backend/node_modules/cross-spawn/index.js
backend/node_modules/cross-spawn/LICENSE
backend/node_modules/cross-spawn/package.json
backend/node_modules/cross-spawn/README.md
backend/node_modules/cross-spawn/lib/enoent.js
backend/node_modules/cross-spawn/lib/parse.js
backend/node_modules/cross-spawn/lib/util/escapeArgument.js
backend/node_modules/cross-spawn/lib/util/escapeCommand.js
backend/node_modules/cross-spawn/lib/util/hasEmptyArgumentBug.js
backend/node_modules/cross-spawn/lib/util/readShebang.js
backend/node_modules/cross-spawn/lib/util/resolveCommand.js
backend/node_modules/inherits/inherits_browser.js
backend/node_modules/inherits/inherits.js
backend/node_modules/inherits/package.json
backend/node_modules/minimist/.travis.yml
backend/node_modules/minimist/index.js
backend/node_modules/minimist/package.json
backend/node_modules/minimist/readme.markdown
backend/node_modules/minimist/test/all_bool.js
backend/node_modules/minimist/test/bool.js
backend/node_modules/minimist/test/dash.js
backend/node_modules/minimist/test/default_bool.js
backend/node_modules/minimist/test/dotted.js
backend/node_modules/minimist/test/kv_short.js
backend/node_modules/minimist/test/num.js
backend/node_modules/minimist/test/parse_modified.js
backend/node_modules/minimist/test/parse.js
backend/node_modules/minimist/test/stop_early.js
backend/node_modules/minimist/test/unknown.js
backend/node_modules/mongoose/node_modules/ms/index.js
backend/node_modules/mongoose/node_modules/ms/license.md
backend/node_modules/mongoose/node_modules/ms/package.json
backend/node_modules/mongoose/node_modules/ms/readme.md
backend/node_modules/ms/index.js
backend/node_modules/ms/package.json
backend/node_modules/ms/readme.md
backend/node_modules/nodemon/node_modules/ms/index.js
backend/node_modules/nodemon/node_modules/ms/license.md
backend/node_modules/nodemon/node_modules/ms/package.json
backend/node_modules/nodemon/node_modules/ms/readme.md
backend/node_modules/pify/index.js
backend/node_modules/pify/license
backend/node_modules/pify/package.json
backend/node_modules/pify/readme.md
backend/node_modules/resolve-from/index.js
backend/node_modules/resolve-from/license
backend/node_modules/resolve-from/package.json
backend/node_modules/resolve-from/readme.md
backend/node_modules/send/node_modules/inherits/inherits_browser.js
backend/node_modules/send/node_modules/inherits/inherits.js
backend/node_modules/send/node_modules/inherits/LICENSE
backend/node_modules/send/node_modules/inherits/package.json
backend/node_modules/send/node_modules/inherits/README.md
backend/node_modules/strip-ansi/index.js
backend/node_modules/strip-ansi/package.json
backend/node_modules/strip-ansi/readme.md
backend/node_modules/strip-json-comments/index.js
backend/node_modules/strip-json-comments/license
backend/node_modules/strip-json-comments/package.json
backend/node_modules/strip-json-comments/readme.md
